<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="postman" version="11.40.5"/>
	<package id="cpu-z.install" version="2.15.0.20250318"/>
	<package id="obs-studio" version="31.0.3"/>
	<package id="drawio" version="26.2.2"/>
	<package id="discord" version="1.0.9188"/>
	<package id="r.studio" version="2024.12.1"/>
	<package id="r.project" version="4.4.2"/>
	<package id="lastpass" version="4.133.2"/>
	<package id="chromium" version="135.0.7049.96"/>
	<package id="brave" version="1.77.101"/>
	<package id="ffmpeg" version="7.1.1"/>
	<package id="virtualbox" version="7.1.8"/>
	<package id="signal" version="7.52.0"/>
	<package id="blender" version="4.4.1"/>
	<package id="youtube-dl" version="2021.12.17"/>
	<package id="arduino" version="2.3.6"/>
	<package id="krita" version="5.2.9"/>
	<package id="python310" version="3.10.11"/>
	<package id="postgresql" version="17.4.0"/>
	<package id="figma" version="116.12.2"/>
	<package id="stretchly" version="1.17.2"/>
	<package id="foxitreader" version="2025.1.0.27937"/>
	<package id="spotify" version="1.2.61.443"/>
	<package id="sourcetree" version="3.4.23"/>
	<package id="selenium-chrome-driver" version="114.0.5735.90"/>
	<package id="microsoft-edge" version="135.0.3179.85"/>
	<package id="vscode" version="1.99.3"/>
	<package id="windirstat" version="2.2.2"/>
	<package id="rufus" version="4.7.0"/>
	<package id="freecad" version="0.21.2.1"/>
	<package id="qgis-ltr" version="3.40.6"/>
	<package id="microsoft-teams.install" version="1.8.0.9760"/>
	<package id="plex" version="1.108.1.307"/>
	<package id="office365business" version="18623.20156"/>
	<package id="biorhythms-calculator" version="2.0.0"/>
</packages>